
nav{
    background-color: black;
}
nav img{
    margin: 15px 0 15px 25px;
}

nav ul li a:hover{
    background-color: #4b0081;
}
#notice img{
    margin: auto;
}
.gradient-custom {

    background:-webkit-linear-gradient(top,black,rgb(24, 23, 91));
}

